colour==0.1.5
gensim==4.0.1
matplotlib==3.4.2
matplotlib_venn==0.11.6
matplotlib_venn_wordcloud==0.2.5
nltk==3.6.2
numpy==1.21.0
pandas==1.2.5
pygam==0.8.0
regex==2021.4.4
scikit_learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
spacy==3.0.6
textstat==0.7.1
wordcloud==1.8.1
